
h3 {
  color: teal;
  font-family: 'Sans-Serif', cursive;  
  font-size: 100px;
  text-align: left;
  margin-top: -11px;
}
#stand {
    width:25%;
    margin-left:auto;
    margin-right:auto;
}
#hit {
    width:25%;
    margin-left:auto; 
    margin-right:auto;
}

.buttonHolder{ text-align: center; }

body {
    font-family:Arial; 
    padding:2em; 
}
#yourDeal {
    
    position:relative;
    border-radius:3px;
    color:#FFFF66;
    padding:1.5em;
    font-size:2.1em;
    height:11em;
    width:31em;
}

#deal {
    display:inline-block;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    text-decoration:none;
    text-shadow:1px 1px 0px #3a096a;
}

#hit {
    background-color:#3300CC;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
    border:1px solid #3366CC;
    display:inline-block;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:7px 13px;
    text-decoration:none;
    text-shadow:1px 1px 0px #3366CC;
}
#hit:hover {
    background-color:#00FFCC;
}
#hit:active {
    position:relative;
    top:1px;
}
#stand {
    background-color:#f89350;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
    border:1px solid #b5693a;
    display:inline-block;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:7px 13px;
    text-decoration:none;
    text-shadow:1px 1px 0px #9d4307;
}

#wins {color:#ffffff;}
#losses {color:#ffffff;}
#stand:hover {
    background-color:#69D1A7;
}
#stand:active {
    position:relative;
    top:1px;
}
#hit, #stand {display:none;}
#dispScore {color:#fff; font-size:25px}

.card {
  background:#fff;
  border: 1px solid gray;
  border-radius:4px;
  font-size: 1em; 
  float: left;
  width:  3.75em;
  height: 5em;
  padding:.1em;
  margin-right:0.2em;
 font-family:serif;
 text-align: left;
}
.card:first-child {margin-left:2;}

.Spades, .Clubs {color:black}
.Diamonds, .Hearts {color:red}

